
/* Your CSS Code here. */
*{
    padding: 0;
    margin: 0;

}
body{
    position: relative;
}

.container{
        width: 100%;
        display: flex;
        justify-content: space-around;
        margin: 2px;
        margin-top: 45px;
    }
    input {
        width: 70%;
        margin-top: 10px;
        margin-bottom: 17px;
        height: 25px;
        border-radius: 4px;
        background-color: black;
        color: white;
    }
    
    img {
        width: 23%;
    }
    #btn{
        margin-top: 5px;
        width: 65px;
        border-radius: 11px;
    }
    #btn:hover{
        background-color: black;
        color: red;
    }
    #dice-icon {
        width: 190px;
        height: 160px;
    }
    
    #btn-2{
        width: 55px;
        height: 35px;
        margin-top: 10px;
    }
    #btn-2:hover{
        background-color: black;
        color: red;
    }
    .btn3{
        display: none;
        margin-top: -6px;
        font-weight: 700;
        font-size: 14px;
        border-radius: 8px;
    }
    .btn3:hover{
        background-color: black;
        color: red;
    }
    .image-form{
        visibility: hidden;
    }
    .image-formv{
        visibility: visible;
    }
    



